# Dependencies
node_modules/

# Build output
dist/
dist-ssr/
.vite/

# Environment files
.env
.env.*
coverage/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
