PRIVATE_KEY=your_private_key

SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/YOUR_API_KEY

ETHERSCAN_API_KEY=your_etherscan_key

CHAIN_ID=11155111

TOKEN_NAME=AIX Token
TOKEN_SYMBOL=AIX

# Deployed Contract Addresses
AIX_TOKEN_ADDRESS=
TREASURY_ADDRESS=
DATASET_REGISTRY_ADDRESS=
LICENSE_REGISTRY_ADDRESS=
PURCHASE_ENGINE_ADDRESS=